{% extends 'base.html' %}

{% block title %} 건의사항 목록 {% endblock %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/admin_page.css' %}">
{% endblock %}

{% block content %}

<div class="as">

<div class="container mt-5">
    <h2>건의사항 목록</h2>
</div>

<div class="search-wrapper">
        <form method="get" class="search-form">
            <input name="search" type="text" value="{{ search }}" placeholder="아이디, 제목, 내용 검색">
            <button class="btn11" type="submit" >검색</button>
        </form>
</div>

<div id="table">


    <div class="row header green">
        <div class="cell">
            ID
        </div>
        <div class="cell">
            제목
        </div>
        <div class="cell">
            작성일
        </div>
        <div class="cell">
            답변여부
        </div>
    </div>

    {% for suggestion in suggestions %}
    <div class="row">
        <div class="cell">{{ suggestion.author.username }}</div>
        <div class="cell">
            <a class="new-su" href="{% url 'suggestion_detail' suggestion.id %}">
                {{ suggestion.title }}
            </a>
        </div>
        <div class="cell">{{ suggestion.created_at|date:"Y-m-d H:i" }} </div>

        <div class="cell">{% if  suggestion.reply %} 답변완료 {% else %}  {% endif %}</div>


     </div>
    {% empty %}
        <p>등록된 건의사항이 없습니다.</p>
    {% endfor %}

</div>

<br>
<div class="text-end mt-3">
    <a href="{% url 'suggestion_create' %}" class="btn btn-primary">건의하기</a>
</div>

<br>
<nav aria-label="Page navigation">

    <ul class="pagination justify-content-center">

    <!-- 처음으로 -->
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1&search={{ search }}"><<</a>
      </li>
    {% endif %}

    <!-- 이전 -->
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&search={{ search }}"><</a>
      </li>
    {% endif %}

    <!-- 번호 범위 -->
    {% for num in page_range %}
      {% if page_obj.number == num %}
        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ num }}&search={{ search }}">{{ num }}</a></li>
      {% endif %}
    {% endfor %}

    <!-- 다음 -->
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}&search={{ search }}">></a>
      </li>
    {% endif %}

    <!-- 끝으로 -->
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&search={{ search }}">>></a>
      </li>
    {% endif %}

  </ul>
</nav>

</div>

{% endblock %}