<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}내 사이트{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" defer></script>


    <style>
        .menu{
            font-size: 15px;
            color: #006b1b;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-light bg-light bg-transparent">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">메인</a>


            {% if messages %}
                <div class="alert alert-info">
                     {% for message in messages %}
                        <p>{{ message }}</p>
                     {% endfor %}
                </div>
            {% endif %}


            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>


    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasMenu">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">메뉴</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="list-unstyled menu">
                {% if user.is_authenticated %}
                    <li><span class="nav-link">{{ user.username }}님 안녕하세요 </span></li><br>
                    <li><form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link nav-link">로그아웃</button>
                        </form>
                    </li><br>
                    <li><a class="nav-link" href="{% url 'profile' %}">{{ user.name }}님 정보</a></li><br>
                    <li>
                        <button class="btn btn-link nav-link">즐겨찾기</button>
                    </li><br>
                {% else %}
                    <li><a class="nav-link" href="{% url 'login' %}">로그인</a></li><br>
                    <li><a class="nav-link" href="{% url 'signup'%}">회원가입</a></li><br>
                    <li><a class="nav-link" href="#">고객센터</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

        {% block content %}
        {% endblock %}

</body>
</html>
